.drawer {
  width: 240px;
  margin-top: 64px;
  height: calc(100% - 64px);
  /* border-right: none !important; */
  border-right: 1px solid #ff9800;
}
.root {
  border-right: none !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  border-right: 1px solid #ff9800;
}
.divider {
  margin: 16px 0px;
}
